.btn {
    background-color: #19882c;
    color: #ffffff;
}

.btn:hover {
    background-color: #0a5517;
    color: #ffffff;
}

#navbarHeader {
    background-color: #19882c;
}

div.navbar {
    background-color: #0a5517;
}

#div-senha {
    position: relative;
}

#alternarSenha {
    cursor: pointer;
}

.fa-eye {
    position: absolute;
    bottom: 10px;
    right: 10px;
}